/* User Provided Stylesheet */

/* Global removals for icons and buttons */
.myst-theme-sun-icon, 
button:has(.myst-theme-sun-icon) {
    display: none !important;
}

.external-link-icon,
a.external::after, 
a[target="_blank"]::after {
    display: none !important;
}
